@model IEnumerable<MedicalAppointingSystem.Models.Diagnosis>

@{
    ViewData["Title"] = "Index";
}

<h1>Diagnosis</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis_Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiagnosisId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiagnosisId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiagnosisId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
